<h1>SkyDash</h1>
<img src=".\SkyDash\SkyDash\Views\HomeEoghan.PNG" />
<h2>Login using your Skyscape credentials</h2>
<h3>Username: </h3>
<input type="text" id="username" />
<h3>Password: </h3>
<input type="text" id="password" />
<input type="submit" id="submit" onclick="storeCreds()" />

@helper storeCreds()
{
Config.email = Request.Form["username"];
Config.password = Request.Form["password"];
}