@model SkyDash.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<h2>Login</h2>
@using (Html.BeginForm("PostLogin", "Home", FormMethod.Post))
{
    <h3>Username:</h3><input type ="text" id="skyscapeUsername" name="skyscapeUsername" />
    <h3>Password:</h3><input type="password" id="skyscapePassword" name="skyscapePassword" />
    @ViewBag.response
    <button id="submit" type="submit">Login</button>
}
